.header {
  width: 700px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-style: italic;
}

.link:hover,
.link:focus {
  color: #45a049;
}

/* search-form */

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}